<a href="https://colab.research.google.com/github/samhoon000/Karnataka_AQI_Analysis/blob/main/Karnataka_AQI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Getting the dataset from kaggle ( Dataset=India Air Quality Data)

In [ ]:
import kagglehub
path = kagglehub.dataset_download("shrutibhargava94/india-air-quality-data")

Using Colab cache for faster access to the 'india-air-quality-data' dataset.

In [ ]:
import pandas as pd
import os

print(os.listdir(path))

csv_file_name = 'data.csv'
full_csv_path = os.path.join(path, csv_file_name)

df = pd.read_csv(full_csv_path, encoding='latin1')
display(df.head())

['.nfs000000006e94c94500000b80', 'data.csv']

/tmp/ipython-input-828551602.py:11: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(full_csv_path, encoding='latin1')

,stn_code,sampling_date,state,location,agency,type,so2,no2,rspm,spm,location_monitoring_station,pm2_5,date
0,150.0,February - M021990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",4.8,17.4,NaN,NaN,NaN,NaN,1990-02-01
1,151.0,February - M021990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,3.1,7.0,NaN,NaN,NaN,NaN,1990-02-01
2,152.0,February - M021990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.2,28.5,NaN,NaN,NaN,NaN,1990-02-01
3,150.0,March - M031990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.3,14.7,NaN,NaN,NaN,NaN,1990-03-01
4,151.0,March - M031990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,4.7,7.5,NaN,NaN,NaN,NaN,1990-03-01

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 435742 entries, 0 to 435741
Data columns (total 13 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   stn_code                     291665 non-null  object
 1   sampling_date                435739 non-null  object
 2   state                        435742 non-null  object
 3   location                     435739 non-null  object
 4   agency                       286261 non-null  object
 5   type                         430349 non-null  object
 6   so2                          401096 non-null  float64
 7   no2                          419509 non-null  float64
 8   rspm                         395520 non-null  float64
 9   spm                          198355 non-null  float64
 10  location_monitoring_station  408251 non-null  object
 11  pm2_5                        9314 non-null    float64
 12  date                         435735 non-null  object
dtypes: float64(5), object(8)
memory usage: 43.2+ MB

In [ ]:
df=df.drop(columns=['stn_code','agency','location_monitoring_station','type','spm','sampling_date'])

In [ ]:
df.head()

            state   location  so2   no2  rspm  pm2_5        date
0  Andhra Pradesh  Hyderabad  4.8  17.4   NaN    NaN  1990-02-01
1  Andhra Pradesh  Hyderabad  3.1   7.0   NaN    NaN  1990-02-01
2  Andhra Pradesh  Hyderabad  6.2  28.5   NaN    NaN  1990-02-01
3  Andhra Pradesh  Hyderabad  6.3  14.7   NaN    NaN  1990-03-01
4  Andhra Pradesh  Hyderabad  4.7   7.5   NaN    NaN  1990-03-01

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 435742 entries, 0 to 435741
Data columns (total 7 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   state     435742 non-null  object
 1   location  435739 non-null  object
 2   so2       401096 non-null  float64
 3   no2       419509 non-null  float64
 4   rspm      395520 non-null  float64
 5   pm2_5     9314 non-null    float64
 6   date      435735 non-null  object
dtypes: float64(4), object(3)
memory usage: 23.3+ MB

In [ ]:
df['date']=pd.to_datetime(df['date'],errors='coerce')

In [ ]:
df['state'].unique()

array(['Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar',
       'Chandigarh', 'Chhattisgarh', 'Dadra & Nagar Haveli',
       'Daman & Diu', 'Delhi', 'Goa', 'Gujarat', 'Haryana',
       'Himachal Pradesh', 'Jammu & Kashmir', 'Jharkhand', 'Karnataka',
       'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya',
       'Mizoram', 'Nagaland', 'Odisha', 'Puducherry', 'Punjab',
       'Rajasthan', 'Sikkim', 'Tamil Nadu', 'Telangana', 'Uttar Pradesh',
       'Uttarakhand', 'Uttaranchal', 'West Bengal',
       'andaman-and-nicobar-islands', 'Lakshadweep', 'Tripura'],
      dtype=object)

In [ ]:
ka=df[df['state']=='Karnataka'].copy()

In [ ]:
ka['location'].unique()

array(['Mysore', 'Bangalore', 'Belgaum', 'Gulbarga', 'Hassan',
       'Hubli-Dharwad', 'Mangalore', 'Davangere', 'Dharwad', 'Hubli',
       'Bidar', 'Domlur', 'Chitradurga', 'Ranebennur', 'Kolar', 'Mandya',
       'Raichur', 'Shimoga', 'Tumkur', 'Bijapur'], dtype=object)

In [ ]:
def get_season(month):
  if month in [11,12,1,2]:
    return 'Winter'
  elif month in [3,4,5]:
    return 'Summer'
  else:
    return "Monsoon"

In [ ]:
ka['season']=ka['date'].dt.month.apply(get_season)

In [ ]:
ka.head()

            state location   so2   no2  rspm  pm2_5       date   season
135470  Karnataka   Mysore  19.1   9.4   NaN    NaN 1987-03-27   Summer
135471  Karnataka   Mysore  19.8   NaN   NaN    NaN 1987-01-04   Winter
135472  Karnataka   Mysore  27.3  21.3   NaN    NaN 1987-10-04  Monsoon
135473  Karnataka   Mysore  27.2  17.8   NaN    NaN 1987-02-04   Winter
135474  Karnataka   Mysore  10.9   6.7   NaN    NaN 1987-02-05   Winter

In [ ]:
ka.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17119 entries, 135470 to 152588
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   state     17119 non-null  object
 1   location  17119 non-null  object
 2   so2       16152 non-null  float64
 3   no2       16686 non-null  float64
 4   rspm      16256 non-null  float64
 5   pm2_5     0 non-null      float64
 6   date      17118 non-null  datetime64[ns]
 7   season    17119 non-null  object
dtypes: datetime64[ns](1), float64(4), object(3)
memory usage: 1.7+ MB

In [ ]:
ka=ka.drop(columns=['pm2_5'])

In [ ]:
ka.head()

            state location   so2   no2  rspm       date   season
135470  Karnataka   Mysore  19.1   9.4   NaN 1987-03-27   Summer
135471  Karnataka   Mysore  19.8   NaN   NaN 1987-01-04   Winter
135472  Karnataka   Mysore  27.3  21.3   NaN 1987-10-04  Monsoon
135473  Karnataka   Mysore  27.2  17.8   NaN 1987-02-04   Winter
135474  Karnataka   Mysore  10.9   6.7   NaN 1987-02-05   Winter

# The dataset is ready for analysis

In [ ]:
ka.to_csv('karnataka_air_quality.csv',index=False)